{% load rest_framework %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3994568d91.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/consultar_reservas.css" type="text/css">
    <title>Gestión de espacios</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark justify-content-right">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href='/espacios/'>Espacios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/productos/'>Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/mesas/'>Mesas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/reservas/'>Reservas</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" action="http://127.0.0.1:8000/logout/">
                    <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="submit">Logout</button>
                </form>
            </li>
        </ul>
        
    </nav>
    <div id="titulo">
        <h1>Registro de reservas</h1>
    </div>
    
    <div id="listaReservas" class="col-sm-offset-2 col-sm-12">
        <nav>
            <h3>Reservas realizadas:</h3>
            <div class="scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Rut</th>
                            <th scope="col"># de mesa</th>
                            <th scope="col">Fecha / Hora</th>
                            <th scope="col">Borrar</th>
                        </tr>
                    </thead>
                    <tbody id="body-table">
                    {%for reserva in reservas %}
                    
                    <tr>
                        <td>{{reserva.user_id}}</td>
                        <td>{{reserva.mesa_id}}</td>
                        <td>{{reserva.fecha}}</td>
                        <td><a href='{% url "borrar_reserva" reserva.pk %}' class="fa-solid fa-trash"></a></td>
                    </tr>
                    
                    {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </nav>
    </div>
</body>
</html>