{% load rest_framework %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/detail_espacio.css" type="text/css">
    <script src="https://kit.fontawesome.com/3994568d91.js" crossorigin="anonymous"></script>
    <title>Actualizar espacio</title>
</head>
<body>
    <div id="titulo">
        <h1>Editar espacio</h1>
    </div>
    <div class="crud_box">
        <form class="form-horizontal" action="{% url 'detail_espacio' espacio.pk %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <label>Nombre del espacio :</label>
                </div>
            </div>
            {% render_form serializer_spc template_pack='rest_framework/horizontal' %}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Actualizar</button>
                </div>
            </div>
        </form>
    </div>

    <div id="crud_box_prod" class="row">
        <form class="form-horizontal" action="{% url 'add_producto' espacio.pk %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <label>Crear nuevo producto :</label>
                </div>
            </div>
            {% render_field serializer_prod.nombre_prod style=style %}
            <input type="hidden" name="espacio_id" value="{{espacio.pk}}">

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Agregar producto al espacio</button>
                </div>
            </div>
        </form>

        <div id="listaEspacios" class="col-sm-offset-2 col-sm-10">
            <nav>
                <ul class="list-group">
                    <h4>Productos en el espacio:</h2>
                    {% for producto in product_list %}
                    {% if producto.espacio_id == espacio.id%}
                    <li class="list-group-item">
                        {{producto.nombre_prod}}
                        <div class="options">
                            <a href='{% url "borrar_producto" producto.pk espacio.pk%}' class="fa-solid fa-trash"></a>
                        </div>
                    </li>
                    {%endif%}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="/espacios/">
                <button type="button" class="btn btn-success btn-lg">Volver</button>
            </a>
        </div>
    </div>
    
</body>