#titulo{
    background-color: #9dff00;
    background-image: linear-gradient(to bottom right, #9dff00, #dcffa3);
    text-align: center;
    color: #436d00;
    padding: 1%;
}

.btn{
    width: 100px;
}

