body{
    background-color: #005792;
}

#titulo{
    background-color: #00204a;
    text-align: center;
    color: white;
    padding: 1%;
}

#nombre_crud{
    width: 50%;
}

.crud_box{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    background-color: #00bbf0;
    color: white;
    border-radius: 1px;
    padding: 1%;
}

#crud_box_prod{
    width: 40%;
    margin-left: 5%;
    margin-top: 1%;
    background-color: #00bbf0;
    color: white;
    border-radius: 20px;
    padding: 1%;
}

.crud_lbl{
    color: black;
    text-align: center;
}

.form-control{
    width: 75%;
}

.options{
    margin-left: 10px;
    float: right;
}

.btn{
    background-color: #fdb44b;
    border-color: #f7a635;
    color: white;
}

.btn:hover{
    background-color: #fc9608;
    border-color: #fa9303;
    color: white;
}