body{
    background-color: #93e4c1
}

#titulo{
    background-color: #3baea0;
    text-align: center;
    color: white;
    padding: 1%;
}

#ordenes_box{
    margin-left: 30%;
}

.cabecera-orden{
    display: flex;
}

.btn{
    margin-top: 2%;
}