body{
    background-color: #fecea8;
}

#titulo{
    background-color: #ff847c;
    background-image: linear-gradient(to bottom right, #ff847c, #ff8401);
    text-align: center;
    color: white;
    padding: 1%;
}

#nombre_crud{
    width: 50%;
}

.crud_box{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    background-color: #ff847c;
    color: white;
    border-radius: 20px;
    padding: 1%;
}

#crud_box_prod{
    width: 40%;
    margin-left: 5%;
    margin-top: 1%;
    background-color: #ff847c;
    color: white;
    border-radius: 20px;
    padding: 1%;
}

.crud_lbl{
    color: black;
    text-align: center;
}

.form-control{
    width: 75%;
}

.options{
    margin-left: 10px;
    float: right;
}

.btn{
    background-color: #ff847c;
    border-color: #e84a5f;
    color: white;
}

.btn:hover{
    background-color: #e84a5f;
    border-color: red;
    color: white;
}